* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
  font-weight: bold;
}





header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgb(240, 240, 240);
  z-index: 1000;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 10px 20px;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #8e9092;
  font-weight: bold;
  padding: 6px 12px;
  position: relative;
  font-size: 20px;
  transition: color 0.3s ease;
}


nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: rgb(142, 135, 247);
  transition: width 0.3s ease;
}



body {
  display: flex;
  min-height: 100dvh;
  background-color: rgb(240, 240, 240);
}

h1 {
    text-align: center;
    color: rgb(142, 135, 247);
    font-size: 52px;
    margin-top: 30px;
    margin-bottom: 40px;
}




nav a:hover {
  color: rgb(142, 135, 247);
}

nav a:hover::after {
  width: 100%;
}

@media (max-width: 600px) {
  nav {
    justify-content: center;
    padding: 10px;
  }

  nav a {
    font-size: 14px;
    padding: 5px 8px;
  }
}





.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: rgb(240, 240, 240);
    flex-wrap: wrap; 
}

.about-me div:first-child {
    margin-bottom: 100px;
    flex: 1;
    text-align: center;
    padding-right: 20px;
}


.about-me a {
    display: block;
    font-size: 16px;
    color: rgb(142, 135, 247);
    text-decoration: none;
    margin-top: 10px;
}

.about-me a:hover {
    text-decoration: underline;
}

.about-me img {
  margin-top: 20px;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    flex: 1;
}







.project-me {
    padding: 40px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.project-me h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}



.project-me  {
  margin-right: 100px;
  margin-left:100px;
  margin-bottom: 10px;
    font-size: 22px;
}

.project-me p {
   margin-bottom: 30px;
 
    font-size: 16px;
    color: #333;
}






.contact-me {
    padding: 40px;
    background-color: rgb(240, 240, 240);;
}


.contact-me h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-me table {
    margin: 0 auto 30px auto;
    border-collapse: collapse;
    width: 30%;
    font-size: 15px;
}

.contact-me td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #9a9191;
}

.contact-me form {
    text-align: center;
    margin-bottom: 30px;
}

.contact-me form p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-me input[type="text"] {
    padding: 8px;
    width: 210px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.contact-me button[type="submit"] {
    padding: 10px 20px;
    background-color:  rgb(142, 135, 247);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-me button[type="submit"]:hover {
    background-color: rgb(89, 78, 248);
}


.contact-me #counter-inc {
    display: block;
    margin: 20px auto 10px auto;
    padding: 10px 20px;
    background-color: rgb(105, 91, 226);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-me #counter-inc:hover {
    background-color: rgb(89, 78, 248);
}
.contact-me  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.contact-me #counter-value {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}









